.image-uploader-component {
  width: 100%;

  .upload-area {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border: 4px dashed grey;

    .input-file-container {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;

      .drop-title {
        font-size: 1.5em;
        color: grey;
      }
    }
  }

  .rejected-files {
    color: #e21008;
  }
}





